pyrogram==2.0.38
tgcrypto==1.2.2
telegraph
python-dotenv
dnspython
requests
asgiref
deezer-python
spotipy

#Pillow
Pillow>=4.2.0
#ffmpeg-python
wget

yt-dlp
youtube-dl
youtube-search-python==1.4.9
youtube-search
gitpython
aiofiles

requests
motor==2.5.1
psutil
future

#gunicorn
gunicorn==20.1.0

#====chatgpt
httpx[http2]
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1 

ffmpeg==1.4
ffmpeg-python==0.2.0
ffprobe==0.5
lyricsgenius

apscheduler
mutagen
bs4
Shazamio
pytz~=2021.1

Wikipedia
countryinfo
pymongo  #[srv]==3.12.3
